html {
    box-sizing: border-box;
}

body {
    padding: 100px 500px;
}

.container {
    border: 1px solid black;
    width: 300px;
}


.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.grid-item {
    height: 50px;
}

.grid-col-span-2 {
    grid-column: span 2;
}

.display {
    position: relative;
    height: 75px;
    width: 99.50%;
    border: 1px solid black;
}

#digits {
    position: absolute;
    bottom: 0;
    right: 0;
    font-size: 60px;
    font-family: 'Verdana';
}