html {
    box-sizing: border-box;
}

body {
    padding: 100px 500px;
}

body a {
    -webkit-tap-highlight-color: transparent;
}

.container {
    border: 1px solid black;
    border-radius: 5px;
    width: 300px;
}

/** BUTTONS **/
.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

button {
    background-color: #f0f0f0;
}

.grid-item {
    height: 50px;
    border: 1px solid gray;
}

.grid-col-span-2 {
    grid-column: span 2;
}

#zero {
    border-bottom-left-radius: 4px;
}

#equals {
    border-bottom-right-radius: 4px;
}

/** DISPLAY **/
.display {
    position: relative;
    height: 75px;
    width: 99.50%;
    border: 1px solid black;
    border-radius: 4px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

#digits {
    position: absolute;
    bottom: 0;
    right: 0;
    font-size: 60px;
    font-family: 'Verdana';
}